//
//Created by yanhuadong on 2016/4/14.
.html_3d_box
   iframe#iframe(src="static/flash/s50_orange_container.html" width="100%" height="600px" frameborder=0 background="red")
   .html_3d_down
      .html_3d_trim.fl
         .html_3d_trim_pic.fl
            a(href="javascript:void(0);")
               img(src="static/img/bq_3d_flash_color_03.png" width="75px" height="74px")
         .html_3d_trim_word
            p 切换内饰
      .html_3d_color.v_html_3d_color
         //ul.v_shanged.fl
         //   li 选择车色
         ul.v_shange.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_20.png" width="33px" height="32px")
            li 墨玉黑
         ul.v_shange.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_09.png" width="33px" height="32px")
            li 海岩灰
         ul.v_shange.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_11.png" width="33px" height="32px")
            li 极光银
         ul.v_shange.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_13.png" width="33px" height="32px")
            li 珠光白
         ul.v_shange.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_15.png" width="33px" height="32px")
            li 火山红
         ul.v_shange.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_17.png" width="33px" height="32px")
            li 冰河蓝
         ul.v_shange.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_06.png" width="33px" height="32px")
            li 烈焰橙
      .html_3d_color.h_html_3d_color
         //ul.chance_color_word.fl
         //   li 选择车色
         ul.chance_color_pic.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_20.png" width="33px" height="32px")
            li 墨玉黑
         ul.chance_color_pic.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_09.png" width="33px" height="32px")
            li 海岩灰
         ul.chance_color_pic.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_11.png" width="33px" height="32px")
            li 极光银
         ul.chance_color_pic.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_13.png" width="33px" height="32px")
            li 珠光白
         ul.chance_color_pic.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_15.png" width="33px" height="32px")
            li 火山红
         ul.chance_color_pic.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_17.png" width="33px" height="32px")
            li 冰河蓝
         ul.chance_color_pic.fl
            li
               a(href="javascript:void(0);")
                  img(src="static/img/bq_3d_flash_color_06.png" width="33px" height="32px")
            li 烈焰橙
      //.html_3d_color.shangebox
      //   ul.chance_color_word.fl
      //      li 选择格栅
      //   ul.chance_color_pic.fl.shangelist
      //      li
      //         a(href="javascript:void(0);")
      //            img(src="static/img/shange1.png" width="129px" height="37px")
      //      li 横格栅
      //   ul.chance_color_pic.fl.shangelist
      //      li
      //         a(href="javascript:void(0);")
      //            img(src="static/img/shange2.png" width="129px" height="37px")
      //      li 竖格栅
      .html_3d_color_grating
         .color_grating.fl.color_grating_hover
            a(href="javascript:void(0);") 三横幅式
         .color_grating.fl
            a(href="javascript:void(0);") 直瀑式
   .trim_chance
      ul.trim_chancebox.fl
         li.trim_pic
            a(href="javascript:void(0);")
               img(src="static/img/html_trim_07.png" width="92px" height="75px")
         li.trim_word
            p 乐动版
      ul.trim_chancebox.fl
         li.trim_pic
            a(href="javascript:void(0);")
               img(src="static/img/html_trim_09.png" width="92px" height="75px")
         li.trim_word
            p 欢动版
   .trim_chance_back
      p 返回外观
   #qiandeng
      .qiandeng-pic-box
         .qiandeng-pic-pic
            img(src="static/img/hot_disk_pic_03.png" width="1154px" height="495px")
         .qiandeng-pic-word
            .qiandeng-word-title 晶钻前大灯造型
            .qiandeng-word-con S50采用 远近光一体式透镜前大灯，犹如一双犀利的眼睛，专注且充满气势。
         .qiandeng-close
            img(src="static/img/hot_disk_pic_05.png" width="35px" height="34px")
   #fadongji
      .qiandeng-pic-box
         .qiandeng-pic-pic
            img(src="static/img/fadongji.jpg" width="1154px" height="495px")
         .qiandeng-pic-word(style="height:158px")
            .qiandeng-word-title 三菱4A9T系列发动机
            .qiandeng-word-con
               | 采用铝合金缸体、树脂凸轮轴罩盖、树脂进气歧管等轻量化材料，减轻发动机重量，并配备废气涡轮增压、高效节油可变气门正时系统，有效提高整车燃油经济性，百公里油耗仅为7.3L，同级别中燃油经济性最佳。
         .qiandeng-close
            img(src="static/img/hot_disk_pic_05.png" width="35px" height="34px")
   #tianchuang
      .qiandeng-pic-box
         .qiandeng-pic-pic
            img(src="static/img/tianchuang.jpg" width="1154px" height="495px")
         .qiandeng-pic-word(style="height:158px")
            .qiandeng-word-title 英纳法1.25㎡超大全景天窗
            .qiandeng-word-con
               | 两种开启方式，前片玻璃可向后滑动打开或向上翘起,带防夹保护功能,4.8mm隐私钢化玻璃，安全、光学性能好，能有效阻挡红外线，隔热效果佳,可承受800N的静态载荷，使用寿命大于10000次，坚固耐用。
         .qiandeng-close
            img(src="static/img/hot_disk_pic_05.png" width="35px" height="34px")
   #yijianchukong
      .qiandeng-pic-box
         .qiandeng-pic-pic
            img(src="static/img/yijianchukong.jpg" width="1154px" height="495px")
         .qiandeng-pic-word
            .qiandeng-word-title 无钥匙进入+一键启动
            .qiandeng-word-con
               | 自动身份识别，一键式按压启动发动机。
         .qiandeng-close
            img(src="static/img/hot_disk_pic_05.png" width="35px" height="34px")
   #chukongping
      .qiandeng-pic-box
         .qiandeng-pic-pic
            img(src="static/img/chukongping.jpg" width="1154px" height="495px")
         .qiandeng-pic-word
            .qiandeng-word-title 9寸触控屏+手机互联
            .qiandeng-word-con
               | 9英寸触摸屏具备手机互联、蓝牙、导航功能，提高的前排乘客的使用便利性，科技感强。
         .qiandeng-close
            img(src="static/img/hot_disk_pic_05.png" width="35px" height="34px")
   #biansuqi
      .qiandeng-pic-box
         .qiandeng-pic-pic
            img(src="static/img/bainsuqi.jpg" width="1154px" height="495px")
         .qiandeng-pic-word
            .qiandeng-word-title 格特拉克6MT变速箱
            .qiandeng-word-con
               | 格特拉克6MT变速箱具备体积小、重量轻、结构紧凑、承载扭矩大等优点,传动效率高，动能损失少，提升燃油经济性。
         .qiandeng-close
            img(src="static/img/hot_disk_pic_05.png" width="35px" height="34px")

