//
   Created by gaojian on 16/3/19.
    - var img_rootUrl = "news/download/imgs/"
    - var andriod_icon = img_rootUrl + "app_download_andriod_icon.png"
    - var ios_icon = img_rootUrl + "app_download_ios_icon.png"
    - var app_download_img = img_rootUrl + "app_download_img.png"
    - var qrcode_img =img_rootUrl + "app_download_qrcode.jpg"
#app_download
    .download_title APP下载
    .download_content.clearfix
        .download_img
            img(src=app_download_img)
        .information
            .text-info
                h3.title 威旺手机APP，一键解决你的所有烦恼！<br>开启您的智能互联生活。
                p.summary 还在为地图数据更新发愁？还在为导航目的地输入不方便发愁？还在为没有参考路况信息发愁？还在为车载CD和U盘歌曲太少发愁？还在为FM里相声/评书听了一半发愁？还在为没听到天气预报发愁？还在为没时间查违章发愁？
            .download
                .first_way
                    .title 下载方式1
                        span 点击下载
                    .icon.clearfix
                        .android_icon
                            a(href="javascript:;")
                                img(src=andriod_icon)
                        .ios_icon
                            a(href="javascript:;")
                                img(src=ios_icon)
                .sec_way
                    .title 下载方式2
                        span 扫描二维码下载
                    .qr_code_icon
                        img(src=qrcode_img)


