.brand-activity
    .title 品牌活动
    .brand-activity-list
        span 新闻中心
        span 媒体报道
        span 活动专题
        span 多媒体下载
    .new
        .new-value
            .img
                img(src="static/img/bq_activity_03.png",alt="")
            .article
                .title 0首付0利息 爱车0元“贷”回家
                .content
                    | 金融欢乐购。仅需一张身份证，即可将爱车“贷”回家，
                    | 购车款、购置税、保险费等通通可以贷款，真正实现0首付无忧购车，办理一年期贷款
                    | 。年终购车正当时，北汽威旺倾情打造0首付欢乐购车季，超值购车金融政策不容错过！
        .new-happy
            .article
                .title 让幸福更“劲”一步
                .content
                    | 作为MPV市场的主力品牌，北汽威旺力图为勤奋创业、平凡不平庸的
                    | “微领”一族带来了一款全新力作——北汽威旺M30，预计售价5-6万
                    | 元。该车定位于“智能家轿级MPV”，主要竞品为五菱宏光S，目前已部
                    | 分到店，并将于9月26日在全国上市。
            .img
                img(src="static/img/bq_activity_04.png",alt="")
    .media
        .video
            .video-pic
                img(src="static/img/bq_media_03.jpg",alt="")
            .video-title
                | 服务‘家+乐’，关爱伴您行”北汽威旺金秋服务季
        .article
            .article-list
                .pic
                    img(src="static/img/bq_media_06.jpg",alt="")
                .content
                    .new-title 北汽威旺乘用车战略升级 全新MPV年内将上市
                    .new-con
                        | 去年北汽自主品牌累计销量达到66万辆，其中北汽威旺销量为19.2万辆，
                        | 占总销量的近30%。近几年国内微车市场销量萎缩，作为
                        | 北汽集团下属的微车品牌，北汽威旺也开始向乘用车转型。
                    .detail [详细]
            .article-list
                .pic
                    img(src="static/img/bq_media_06.jpg",alt="")
                .content
                    .new-title 北汽威旺乘用车战略升级 全新MPV年内将上市
                    .new-con
                        | 去年北汽自主品牌累计销量达到66万辆，其中北汽威旺销量为19.2万辆，
                        | 占总销量的近30%。近几年国内微车市场销量萎缩，作为
                        | 北汽集团下属的微车品牌，北汽威旺也开始向乘用车转型。
                    .detail [详细]
    .activity
        .a-list
            .a-pic
                img(src="static/img/bq_activity_03.jpg",alt="")
            .a-title
                | 威旺M30百城热销火爆开启 幸福“劲”在眼前威旺M30百城热销火爆开启
            .a-detail
                | 了解详情
                img(src="static/img/bq_a_detail.png",alt="")
        .a-list
            .a-pic
                img(src="static/img/bq_activity_05.jpg",alt="")
            .a-title
                | 威旺M30百城热销火爆开启 幸福“劲”在眼前威旺M30百城热销火爆开启
            .a-detail
                | 了解详情
                img(src="static/img/bq_a_detail.png",alt="")
        .a-list
            .a-pic
                img(src="static/img/bq_activity_08.png",alt="")
            .a-title
                | 威旺M30百城热销火爆开启 幸福“劲”在眼前威旺M30百城热销火爆开启
            .a-detail
                | 了解详情
                img(src="static/img/bq_a_detail.png",alt="")
    .load
        .load-pic
            img(src="static/img/bq_load_03.jpg",alt="")
        .load-pic
            img(src="static/img/bq_load_05.jpg",alt="")
        .load-pic
            img(src="static/img/bq_load_07.png",alt="")