.buycar-agency-form
    form(name='agencyform')
        .b-a-list-up
            select(class="form-agency-serise select-agency-serise" value="" placeholder="" name="" id="")
                option(value="") 车系
                option(value="") 车系
                option(value="") 车系
            select(class="form-agency-city select-agency-city" value="" placeholder="" name="" id="")
                option(value="") 城市1
                option(value="") 城市2
                option(value="") 城市3
            select(class="form-agency-area select-agency-area" value="" placeholder="" name="" id="")
                option(value="") 地区4
                option(value="") 地区5
                option(value="") 地区6
            select(class="form-agency-people select-agency-people" value="" placeholder="" name="" id="")
                option(value="") 经销商7
                option(value="") 经销商8
                option(value="") 经销商9
        .b-a-list-down
            input.b-a-word(type='text' name='basearch' placeholder='请输入经销商名称...')
            input.b-a-button(type='button' name='basearchbutton' value='查询')
.buycar-agency-fourteen
    | 14个搜索结果
