
.d_banner1
	a&attributes({"href":d_banner1Data.href1})
		img.d_banner1_pic&attributes({"src":d_banner1Data.url})
	.d_text
		h3.d_tit_h3
			a&attributes({"href":d_banner1Data.href2}) #{d_banner1Text[0]}
			i.d_banner1_pos
		h4.d_tit_h4
			a&attributes({"href":d_banner1Data.href3}) #{d_banner1Text[1]}