

.d_down_part.clearfix
	.d_partbox.fl
		img&attributes({"src":d_partboxData.url1})
		h4
			a&attributes({"href":d_partboxData.href1}) 保养服务项目说明
		a&attributes({"href":d_partboxData.href2,"class":"d_part_icon"})
	.d_partbox.fr
		img&attributes({"src": d_partboxData.url2})
		h4
			a&attributes({"href": d_partboxData.href3}) 车辆保养知识
		a&attributes({"href": d_partboxData.href4, "class": "d_part_icon"})
