.foot
    .foot-logo
        img(src="static/img/bq_foot_logo_03.png",alt="",width='217',height='54')
    .foot-con
        dl.f-dl-preview.fl
            dt.f-dt 车型总览
                dd
                    a(href='#') 威旺M20
                dd
                    a(href='#') 威旺M30
                dd
                    a(href='#') 威旺M35
                dd
                    a(href='#') 威旺306
        dl.f-dl-buy.fl
            dt.f-dt 购车支持
                dd
                    a(href='#') 经销商查询
                dd
                    a(href='#') 预约试驾
                dd
                    a(href='#') 在线订车
                dd
                    a(href='#') 促销活动
        dl.f-dl-know.fl
            dt.f-dt 认识威旺
                dd
                    a(href='#') 品牌文化
                dd
                    a(href='#') 品牌历程
                dd
                    a(href='#') 公益事业
                dd
                    a(href='#') 人才计划
        dl.f-dl-phone.fl
            dt.f-dt 经销商招募
                dd
                    img(src="static/img/bq_pho.png",alt="",width='12',height='12')
                    <strong> 18513517084</strong>
                dd
                    img(src="static/img/bq_phone.png",alt="",width='12',height='12')
                    <strong> 010-57149623</strong>
                dd.apply
                    a(href='file:static/video/《北汽威旺经销商加盟申请书》.docx') 下载申请表
        dl.f-dl-attention.fl
            dt.f-dt 关注我们
            .f-blog.fl
                    img(src="static/img/bq_foot_weibo.png",alt="",width='82',height='82')
                    .f-blog-word 威旺官方微博
            .f-blog.fl
                    img(src="static/img/bq_foot_06.jpg",alt="",width='82',height='82')
                    .f-blog-word 威旺官方微信
        dl.f-dl-share.fl
            dt.f-dt.jiathis_style_32x32 分享链接
                dd
                    a.jiathis_button_qzone(href='#')
                        img(src="static/img/bq_foot_03.jpg",alt="",width='33',height='33')
                        | 腾讯QQ
                dd
                    a.jiathis_button_weixin(href='#')
                        img(src="static/img/bq_foot_09.jpg",alt="",width='33',height='33')
                        | 微信朋友圈
                dd
                    a.jiathis_button_tsina(href='#')
                        img(src="static/img/bq_foot_11.png",alt="",width='33',height='33')
                        | 新浪微博
    .foot-copy
        .f-left.fl
            span
                a(href='#') 常见问题
            span
                a(href='#') 法律声明
            span
                a(href='#') 网站地图
            span
                a(href='#') 联系我们
        .f-right.fr
            span &copy;
            span 2016
            span 株洲北汽汽车销售有限公司
            span 版权所有
            span 京ICP备11012919号
            span 公安备案号码：京公网安备110108003601号

