.m-looklike
    .m-look-appearance
        .m-look-word-box.fl
            ul.m-look-word
                li.m-look-title 北汽威旺
                    span M30
                li.m-look-english THE APPEARANCE OF FASHION
                li.m-look-con
                    | M30定位于“智能家轿级MPV”，全系搭载了智能
                    | 科技九寸电容式中控大屏，拥有“档次高、空间
                    | 大、配置全”三大超越同级产品的优势。
        .m-look-a-pic.fr
            img(src="./static/img/m30_looklike_car_01.png",alt="")
    .m-look-super
        .m-look-word-box.fr
            ul.m-look-word
                li.m-look-title 超凡外观
                    span M30
                li.m-look-english SUPER APPEARANCE
                li.m-look-con
                    | M30在外观上，融入轿车化的潮流元素。镀铬装饰的
                    | 双幅格栅与动感前大灯一体连接，同时，尾部则
                    | 采取简约设计，巧妙运用镀铬装饰条连接两侧贯穿
                    | 式尾门大灯，与前脸形成整体呼应，将时尚而动感
                    | 的气质展现得淋漓尽致。
        .m-look-a-pic
            img(src="./static/img/m30_looklike_car_03.png",alt="")