.lsearch_list
	ul
		li
			a.resulttype(href="#") 公司新闻
			a.resultitle(href="#") 实力
				span 威旺
				| 北京制造“家+乐”关爱伴新春
			span.date 2016.02.17
		li
			a.resulttype(href="#") 专题活动
			a.resultitle(href="#")
				span 威旺
				| 吹响集结号 首届“威旺梦”文化节总决赛圆满谢幕
			span.date 2016.02.17
		li
			a.resulttype(href="#") 公司新闻
			a.resultitle(href="#") 实力
				span 威旺
				| 北京制造“家+乐”关爱伴新春
			span.date 2016.02.17
		li
			a.resulttype(href="#") 专题活动
			a.resultitle(href="#")
				span 威旺
				| 吹响集结号 首届“威旺梦”文化节总决赛圆满谢幕
			span.date 2016.02.17
		li
			a.resulttype(href="#") 公司新闻
			a.resultitle(href="#") 实力
				span 威旺
				| 北京制造“家+乐”关爱伴新春
			span.date 2016.02.17
		li
			a.resulttype(href="#") 专题活动
			a.resultitle(href="#")
				span 威旺
				| 吹响集结号 首届“威旺梦”文化节总决赛圆满谢幕
			span.date 2016.02.17
		li
			a.resulttype(href="#") 公司新闻
			a.resultitle(href="#") 实力
				span 威旺
				| 北京制造“家+乐”关爱伴新春
			span.date 2016.02.17
		li
			a.resulttype(href="#") 专题活动
			a.resultitle(href="#")
				span 威旺
				| 吹响集结号 首届“威旺梦”文化节总决赛圆满谢幕
			span.date 2016.02.17
		li
			a.resulttype(href="#") 公司新闻
			a.resultitle(href="#") 实力
				span 威旺
				| 北京制造“家+乐”关爱伴新春
			span.date 2016.02.17
		li
			a.resulttype(href="#") 专题活动
			a.resultitle(href="#")
				span 威旺
				| 吹响集结号 首届“威旺梦”文化节总决赛圆满谢幕
			span.date 2016.02.17