.m-k-safety
	ul.m-k-s.fl
		li.m-k-s-title 安全可靠
		li.m-k-s-con 威旺306是第一款车身上采用FSS+BSS全面安全防护结构的微客。
		li.m-k-s-list 轿车式内置高位制动灯
		li.m-k-s-list 高水切侧向保护设计
	.m-k-s-pic.fl
		img(src="./static/img/m306_safety_1.png",alt="")
	.m-k-s-pic.fl
		img(src="./static/img/m306_safety_2.png",alt="")