.m-inner-room
	.m-i-r-left.m-i-r-p.fl
		img(src="./static/img/m306_inner_room_1.png",alt="")
		.m-i-r-word
			span 轿车化舒适座椅
	.m-i-r-right.fr
		.m-i-r-right-up.m-i-r-p
			img(src="./static/img/m306_inner_room_2.png",alt="")
			.m-i-r-word
				span 智能液晶仪表盘
		.m-i-r-right-down.m-i-r-p
			img(src="./static/img/m306_inner_room_3.png",alt="")
			.m-i-r-word
				span 防滑式大旋钮
