.m_3d_m(style='margin:0 auto; width:100%;overflow:hidden;margin-bottom:0px;')
	object(id = "m_3d_m" align="middle",style="width:100%;height:auto")
		param(name="allowScriptAccess",value="sameDomain")
		param(name="movie",value=threedpic)
		param(name="quality",value="high")
		param(name="align",value="middle")
		param(name="bgcolor",value="#ffffff")
		embed(id= "m_3d_m_embed" src=threedpic,quality="high",bgcolor="#ffffff",style="width:100%;",name="bqww",align="middle",allowScriptAccess="sameDomain",type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/go/getflashplayer" )
