.m_t_power
	.m_t_p_structure.fl
		img(src="./static/img/m306_power.png",alt="")
	.m_t_p_word_box.fl
		ul.m_t_p_word
			li.m_t_p_title 动力强劲，性能稳定
			li.m_t_p_space
				strong 搭载动力强劲的全铝发动机
			li.m_t_p_con
				| 2013年5月推出北汽威旺306超值版，其发动机采用CVVT先进技术，汇聚萨
				| 2013年5月推出北汽威旺306超值版，其发动机采用CVVT先进技术，汇聚萨博平台研发力量，百公里6.5L的油耗令人满意。
		.m_t_p_red
			ul.fl
				li.m_t_p_lighter 马力
				li.m_t_p_strong
					strong(style="color:#127221")
						span 86
						span Ps
			.m_t_p_gray.fl
			ul.fl
				li.m_t_p_lighter 功率
				li.m_t_p_strong
					strong(style="color:#d54f0d")
						span 63.5
						span Kw
			.m_t_p_gray.fl
			ul.fl
				li.m_t_p_lighter 扭矩
				li.m_t_p_strong
					strong(style="color:#3c8ec2")
						span 108
						span N·m



