.m_strong_power
	.m_s_p_word_box.fl
		ul.m_s_p_word
			li.m_s_p_title 超强动力
				i
					strong 1. 5L VVT
			li.m_s_p_space THE SURGING POWER
			li.m_s_p_con
				| M30搭载动力强劲的高品质东安发动机，轻量化铝
				| 合金缸体，较一般铸铁缸体重量减轻15%，更加节
				| 油，其发动机采用DVVT技术，百公里油耗6.8L。采
				| 用BOSCH电喷系统和静音链传动系统等先进技术，
				| 使噪音更低、震动更小；不锈钢排气歧管、紧耦合
				| 三元催化器，催化转化效率高，有效降低尾气中有
				| 害气体排出量，高效清洁，绿色环保。
		.m_s_p_red
			ul.fl
				li.m_s_p_lighter 马力
				li.m_s_p_strong
					strong 102
						span Ps
			.m_s_p_gray.fl
			ul.fl
				li.m_s_p_lighter 功率
				li.m_s_p_strong
					strong 85
						span Kw
			.m_s_p_gray.fl
			ul.fl
				li.m_s_p_lighter 扭矩
				li.m_s_p_strong
					strong 150
						span N·m
	.m_s_p_structure.fr
		img(src="./static/img/m30_power_str.png",alt="")


