-var classname = 'process-step step'+steparr.num
div&attributes({'class': classname})
	.process-pic
		img&attributes({'src': steparr.src, 'alt': '', 'width': '330', 'height': '330'})
	.process-info
		p.process-num #{steparr.num}
		p.process-icon
		h4.process-title #{steparr.title}
		p.process-content #{steparr.content}
		span.arrow