.process
	-var imgsrc = "static/img/"
	.step-group.ml25
		-var steparr = {'src':imgsrc+'process01.jpg','num':'01','title':'购车途径','content':'在哪买车要慎重，遍地综合经销商可能“陷阱”多多;正规品牌4S店最可靠，车源质量高，售后服务齐、信用好; 选购爱车建议您首选品牌4S店。'}
		include process_step.jade
	.step-group
		-var steparr = {'src':imgsrc+'process02.jpg','num':'02','title':'车辆检查','content':'新车检查很重要：随车资料要齐全，缺少一样麻烦多;外观内饰和设备，仔细检查靠分辨。'}
		include process_step.jade
	.step-group.ml50.step-right
		-var steparr = {'src':imgsrc+'process03.jpg','num':'03','title':'购买方式','content':'花钱买车，方法多多;全款买车，简洁快捷;银行贷款，需符合贷款申请人条件，相关政策要关注；汽车金融公司贷款省事不繁琐，简单方便快提车。'}
		include process_step.jade

	.step-group.ml25.step-right
		-var steparr = {'src':imgsrc+'process04.jpg','num':'04','title':'保险选择','content':'保险购买：强险为主，商业保险保险为辅；选择大型的保险的公司，时刻关注变化的保险政策，平平安安开车不出险，还能享受购险优惠。'}
		include process_step.jade

	.step-group
		-var steparr = {'src':imgsrc+'process05.jpg','num':'05','title':'手续办理','content':'保险办理需资料，手续齐全最重要。发票、车辆信息表、车辆合格证原件、保单（尤其是交强险副本）样样不能少！'}
		include process_step.jade

	.step-group.ml25
		-var steparr = {'src':imgsrc+'process06.jpg','num':'06','title':'相关税款','content':'两项税款上交：车船使用税按照您爱车排量，呈阶梯形式缴纳不同数额的税款; 《申请缴纳购置税表》上交，税款公式：缴税是按除去增值税的车价的10%，即（车价/1.17）*10%'}
		include process_step.jade

	.step-group.ml50.step-right
		-var steparr = {'src':imgsrc+'process07.jpg','num':'07','title':'验车流程','content':'机动车检测场（可以根据户口所在地选择）— 拍照 — 领取环保标 — 新车总检审核 — 回执单（领取回执单所需的材料和证件多而繁琐，请认真准备好）'}
		include process_step.jade

	.step-group.ml25.step-right
		-var steparr = {'src':imgsrc+'process08.jpg','num':'08','title':'工商验证','content':'以下三条准备好：1、机动车销售发票（三联）。2、商检证明、机动车合格证、身份证或组织机构代码证。3、进口车辆须提供海关证明'}
		include process_step.jade

	.step-group
				-var steparr = {'src':imgsrc+'process09.jpg','num':'09','title':'上牌选号','content':'随机选，自己编，互联网自主选，三种选号都可靠。照片、证件、材料准备齐，就能给新车备案。'}
				include process_step.jade

	.step-group.ml25
		-var steparr = {'src':imgsrc+'process10.jpg','num':'10','title':'新车装饰','content':'所有手续办完，装饰新车如新房装潢，贴膜、倒车雷达、外观装饰、内饰装饰花样多，仔细选择勿贪多。'}
		include process_step.jade

