.m_safe
	.m_s_word_box.fr
		ul.m_s_word
			li.m_s_title 出众安全
			li.m_s_space Superior safety
				i
					strong 三点式倒车雷达
					strong 双安全气囊
			li.m_s_con
				| M20采用承载式安全车身结构，整车结构布局、刚度匹配设计合理；三点
				| 式倒车雷达、双安全气囊以及安全带未系等电子装置，让驾乘更无后顾之
				| 忧。
		.m_s_radar
			ul.fl
				li.m_s_pic
					img(src="./static/img/m20_s_gray_07.png",alt="")
				li.m_s_word 三点式倒车雷达
			.m_s_gray.fl
			ul.fl
				li.m_s_pic
					img(src="./static/img/m20_s_gray_09.png",alt="")
				li.m_s_word 双安全气囊
	.m_s_structure.fl
		img(src="./static/img/m20_car_stru.png",alt="")


