.server-honest
	.server-honest-pic.fl
		img&attributes({'src': 'static/img/server_honest1.png', 'alt': ""})
	.server-honest-ul.fl
		.server-honest-ul-pic
			img&attributes({'src': 'static/img/server_honest2.png', 'alt': ""})
		.server-honest-ul-left.fl
			ul
				li.server-honest-title
					span 服务名称：
				li.server-honest-title
					span 服务口号：
				li.server-honest-title
					span 概念阐述：
		.server-honest-ul-right.fl
			ul
				li.server-honest-title
					| 诚 . 服务
				li.server-honest-title
					| 言必行，行必诚
				li.server-honest-con
					| 言出必行，言行一致；
				li.server-honest-con 凸显“诚信”服务理念，诉求诚信服务;
				li.server-honest-con 树立车企“诚信”服务标版；
				li.server-honest-con 以出众品质和诚信服务；
				li.server-honest-con 让车主尽情驰骋,毫无后顾之忧。

