.m_m_word_title
	ul
		li.m_word_up #{mwordheader}
			i #{mwordheadersuffix}
		li.m_word_subhead #{mwordsubheader}
		- for (var i=0;i<mwordheadercon.length;i++)
			li.m_word_down #{mwordheadercon[i]}


