extends layout.jade

block css
    link(type='text/css',href="./static/css/news.css",rel="styleSheet")
    link(type='text/css',href="./static/css/topic.css",rel="styleSheet")
block leftNav



    - var leftMVPDetialPic = ['./static/img/bq_left_mvp_detail_03.png','./static/img/bq_left_mvp_detail_03.png','./static/img/bq_left_mvp_detail_03.png','./static/img/bq_left_mvp_detail_03.png','./static/img/bq_left_mvp_detail_03.png','./static/img/bq_left_mvp_detail_03.png','./static/img/bq_left_mvp_detail_03.png','./static/img/bq_left_mvp_detail_03.png']
    - var leftCarList = ['MVP系列','SUV系列','交叉型乘用车','3D展厅']
    - var leftMVPPic = ['./static/img/bq_left_mvp.png','./static/img/bq_left_mvp.png','./static/img/bq_left_mvp.png','./static/img/bq_left_mvp.png','./static/img/bq_left_mvp.png','./static/img/bq_left_mvp.png','./static/img/bq_left_mvp.png','./static/img/bq_left_mvp.png']
    - var leftMVPName = ['威旺007','威旺007','威旺007','威旺007','威旺007','威旺007','威旺007','威旺007']
    include model/left_nav
    //include model/left_nav_right.jade

block content
    include model/top_nav
    - var d_banner1Data = {href1:'javascript:;',href2:'javascript:;',href3:'javascript:;',url:'static/img/img_news_banner.jpg'}
    - var d_banner1Text = ['品牌活动','专题活动']
    include model/d_banner1


    - var topic_rootUrl = "static/img/"
    - var topic_photo_url = [topic_rootUrl+"topic_photo.jpg"]
    - var topic_photo_url2 = [topic_rootUrl+"topic_photo2.jpg"]
    - var topic_photo_url3 = [topic_rootUrl+"topic_photo3.jpg"]
    - var topic_photo_url4 = [topic_rootUrl+"topic_photo4.jpg"]
    - var topicDataList = [{title:'北汽威旺言必行,行比诚 "三包" 北汽威旺服务发布仪式',photoUrl:topic_photo_url},{title:'爱在青海 北汽威旺环保公益行',photoUrl:topic_photo_url2},{title:'北汽威旺环保公益行',photoUrl:topic_photo_url3},{title:'北汽威旺微面 "十万用户倒计时" 活动在京揭幕',photoUrl:topic_photo_url3},{title:'北汽威旺微面 "十万用户倒计时" 活动在京揭幕',photoUrl:topic_photo_url},{title:'爱在青海 北汽威旺环保公益行',photoUrl:topic_photo_url2},{title:'北汽威旺言必行，行必诚“三包”北汽威旺服务发布仪式',photoUrl:topic_photo_url4},{title:'爱在青海 北汽威旺环保公益行',photoUrl:topic_photo_url2},{title:'北汽威旺微面 "十万用户倒计时" 活动在京揭幕',photoUrl:topic_photo_url3}]
    include model/photo_topic
    include model/lpages

    include model/foot.jade

block script
    script(src='static/js/model_left_nav.js' type='text/javascript')
    script(src='static/js/model_top_nav.js' type='text/javascript')
    script(src='static/js/banner_index.js' type='text/javascript')
    script(src='static/js/model_four_pic_index.js' type='text/javascript')
    script(src='static/js/model_brand_activity.js' type='text/javascript')
    script(src='static/js/model_activities_li.js' type='text/javascript')
    script(src='static/js/model_activities_li.js' type='text/javascript')


