extends layout.jade
block css
	link(type='text/css',href='../static/css/model_m_banner_m.css',rel='stylesheet')


block content
	include ../model/m_banner_m
block script
	script(src='../static/js/model_banner_m20.js' type='text/javascript')