extends layout.jade
block css
    link(type='text/css',href='../static/css/model_brand_activity.css',rel='stylesheet')


block content
    include ../model/brand_activity22
block script
    script(src='../static/js/model_brand_activity.js' type='text/javascript')