extends layout.jade

block css
    link(type='text/css',href='../static/css/model_four_pic_index.css',rel='stylesheet')


block content

    include ../model/four_pic_index.jade
block script
    script(src='../static/js/model_four_pic_index.js' type='text/javascript')