extends layout
block css
	link(type='text/css',href='../static/css/model_left_nav.css',rel='stylesheet')


block content
	include ../model/left_nav
	script(src='../static/js/model_left_nav.js' type='text/javascript')