extends layout.jade
block css
    link(type='text/css',href='../static/css/model_polygon.css',rel='stylesheet')


block content
    include ../model/polygon.jade
    script(src='../static/js/model_polygon.js' type='text/javascript')