extends layout.jade
block css
	link(type='text/css',href='../static/css/model_safe_m20.css',rel='stylesheet')


block content
	include ../model/safe_m20.jade
block script
	script(src='../static/js/model_safe_m20.js' type='text/javascript')