extends layout.jade
block css
    link(type='text/css',href='../static/css/model_top_nav.css',rel='stylesheet')


block content
    include ../model/top_nav11
    script(src='../static/js/model_top_nav.js'   type='text/javascript')

